// This is where you put your layout styles. //

body {
  margin: 0;
}

.container {
  @include container;
}

header {
  @include mobile-grid;
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
  padding-bottom: 1.5em;
  h1 {
    margin-top: 1em;
  }
}

#content-wrap {
  @include clearfix;
}

#home-featured-items {
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
  padding-bottom: 2em;
  @include mobile-grid;
  
  .featured-item {
    margin-bottom: 1.5em;
  }
}

#content {
  @include mobile-grid;
  margin-bottom: 1em;
  
  #featured {
    margin-top: 2em;
    border-top: 1px solid $border-color;
    padding-top: 2em;

    .featured-item {
      margin-bottom: 1.5em;
    }  
  }

  #related {
    margin-top: 2em;
    border-top: 1px solid $border-color;
    padding-top: 2em;
    
    .related-item {
      margin-bottom: 1.5em;
    }  
  }
}

#sidebar {
  @include mobile-grid;
  margin-top: 2em;
  border-top: 1px solid $border-color;
  padding-top: 2em;
}

footer {
  @include mobile-grid;
  margin-top: 2em;
  border-top: 1px solid $border-color;
  padding-top: 2em;
}