/* Loosely based on 960.gs */
/* line 1, ../../app/scss/content.scss */
img {
  max-width: 100%;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  margin-left: -1px;
  margin-right: -1px;
  display: block; }

/* line 3, ../../app/scss/layout.scss */
body {
  margin: 0; }

/* line 7, ../../app/scss/layout.scss */
.container {
  width: 100%;
  margin: auto;
  max-width: 1250px;
  *zoom: 1; }

/* line 11, ../../app/scss/layout.scss */
header {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1.5em; }
  /* line 16, ../../app/scss/layout.scss */
  header h1 {
    margin-top: 1em; }

/* line 22, ../../app/scss/layout.scss */
#content-wrap {
  overflow: hidden;
  *zoom: 1; }

/* line 26, ../../app/scss/layout.scss */
#home-featured-items {
  margin-bottom: 2em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2em;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%; }
  /* line 32, ../../app/scss/layout.scss */
  #home-featured-items .featured-item {
    margin-bottom: 1.5em; }

/* line 37, ../../app/scss/layout.scss */
#content {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1em; }
  /* line 41, ../../app/scss/layout.scss */
  #content #featured {
    margin-top: 2em;
    border-top: 1px solid #cccccc;
    padding-top: 2em; }
    /* line 46, ../../app/scss/layout.scss */
    #content #featured .featured-item {
      margin-bottom: 1.5em; }
  /* line 51, ../../app/scss/layout.scss */
  #content #related {
    margin-top: 2em;
    border-top: 1px solid #cccccc;
    padding-top: 2em; }
    /* line 56, ../../app/scss/layout.scss */
    #content #related .related-item {
      margin-bottom: 1.5em; }

/* line 62, ../../app/scss/layout.scss */
#sidebar {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2em;
  border-top: 1px solid #cccccc;
  padding-top: 2em; }

/* line 69, ../../app/scss/layout.scss */
footer {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2em;
  border-top: 1px solid #cccccc;
  padding-top: 2em; }

@media only screen and (min-width: 600px) {
  /* line 79, ../../app/scss/layout.scss */
  #content-wrap {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%; }

  /* line 83, ../../app/scss/layout.scss */
  #home-featured-items {
    overflow: hidden;
    *zoom: 1;
    display: inline;
    float: left;
    width: 100%;
    margin-right: 3.5%;
    margin-left: 0;
    margin-right: 0; }
    /* line 87, ../../app/scss/layout.scss */
    #home-featured-items .featured-item {
      display: inline;
      float: left;
      width: 48.25%;
      margin-right: 3.5%;
      margin-left: 0; }
      /* line 40, ../../app/scss/lib/_grid.scss */
      #home-featured-items .featured-item:nth-child(n) {
        margin-right: 3.5%; }
      /* line 43, ../../app/scss/lib/_grid.scss */
      #home-featured-items .featured-item:nth-child(2n+2) {
        margin-right: 0; }

  /* line 93, ../../app/scss/layout.scss */
  #content {
    display: inline;
    float: left;
    width: 65.5%;
    margin-right: 3.5%;
    margin-left: 0;
    float: right;
    margin-right: 0; }

  /* line 99, ../../app/scss/layout.scss */
  #sidebar {
    display: inline;
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-left: 0; }

  /* line 103, ../../app/scss/layout.scss */
  #featured {
    overflow: hidden;
    *zoom: 1; }
    /* line 106, ../../app/scss/layout.scss */
    #featured .featured-items .featured-item {
      display: inline;
      float: left;
      width: 48.25%;
      margin-right: 3.5%;
      margin-left: 0; }
      /* line 40, ../../app/scss/lib/_grid.scss */
      #featured .featured-items .featured-item:nth-child(n) {
        margin-right: 3.5%; }
      /* line 43, ../../app/scss/lib/_grid.scss */
      #featured .featured-items .featured-item:nth-child(2n+2) {
        margin-right: 0; }

  /* line 113, ../../app/scss/layout.scss */
  #related {
    overflow: hidden;
    *zoom: 1; }
    /* line 115, ../../app/scss/layout.scss */
    #related .related-item {
      display: inline;
      float: left;
      width: 48.25%;
      margin-right: 3.5%;
      margin-left: 0; }
      /* line 40, ../../app/scss/lib/_grid.scss */
      #related .related-item:nth-child(n) {
        margin-right: 3.5%; }
      /* line 43, ../../app/scss/lib/_grid.scss */
      #related .related-item:nth-child(2n+2) {
        margin-right: 0; }

  /* line 121, ../../app/scss/layout.scss */
  #sidebar {
    margin-top: 0;
    padding-top: 0;
    border: 0 none; } }
@media only screen and (min-width: 900px) {
  /* line 130, ../../app/scss/layout.scss */
  #content {
    margin-bottom: 0; }
    /* line 134, ../../app/scss/layout.scss */
    #content #featured .featured-item {
      display: inline;
      float: left;
      width: 13.75%;
      margin-right: 3.5%;
      margin-left: 0; }
      /* line 136, ../../app/scss/layout.scss */
      #content #featured .featured-item:nth-child(6) {
        margin-right: 0; }
    /* line 143, ../../app/scss/layout.scss */
    #content #related .related-item {
      display: inline;
      float: left;
      width: 22.375%;
      margin-right: 3.5%;
      margin-left: 0; }
      /* line 59, ../../app/scss/lib/_grid.scss */
      #content #related .related-item:nth-child(n) {
        margin-right: 3.5%; }
      /* line 62, ../../app/scss/lib/_grid.scss */
      #content #related .related-item:nth-child(4n+4) {
        margin-right: 0; }

  /* line 151, ../../app/scss/layout.scss */
  #home-featured-items .featured-item {
    display: inline;
    float: left;
    width: 22.375%;
    margin-right: 3.5%;
    margin-left: 0; }
    /* line 59, ../../app/scss/lib/_grid.scss */
    #home-featured-items .featured-item:nth-child(n) {
      margin-right: 3.5%; }
    /* line 62, ../../app/scss/lib/_grid.scss */
    #home-featured-items .featured-item:nth-child(4n+4) {
      margin-right: 0; } }
